Flask
gunicorn
yfinance
requests-cache
pandas
numpy
Werkzeug
Jinja2
MarkupSafe
click
itsdangerous
setuptools
wheel
python-dateutil
pytz
tzdata
alpaca-py
finnhub-python
beautifulsoup4
requests
scipy
textblob
matplotlib
plotly
seaborn